section {
    width: 100vw;
    margin: auto;
}

div.filtros {
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
}


div.filtros div p {
    display: inline;
}

div.filtros ul {
    background: #3F8098;
    padding: 20px;
    list-style: none;
    display: none;
}


article {
    background: white;
    border: 1px solid black;
    max-width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

article:hover {
    box-shadow:
    0 10px 20px rgba(0,0,0,0.19),
    0 6px 6px rgba(0,0,0,0.23);
}

a {
    text-decoration: none;
    color: black;
}


img {
    max-width: 100%;
    max-height: 100%;
}
article p {
    border-top: 1px solid gray;
    margin-top: 15px
}

article h3 {
    padding-bottom: 15px;
}

@media (min-width:768px) {
    .container {
        width: 85%;
        margin: auto;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin: 40px auto;
        justify-content: center;
    }


    article {
        margin-right: 20px;
        margin-bottom: 30px;

    }
}



@media (min-width: 1440px) {

    .container {
        display: flex;

    }

    .container .filtros {
        width: 150px;
    }
    
    div.filtros ul {
        display: block;
    }

    section {
        justify-content: flex-start;
    }

    section.productos {
        margin: 0;
        margin-left: 40px;
    }
    article {
        margin-right: 50px;
    }
}