div.container  {
    min-height: 92vh;
}

section {
    background: white;
}

.resultados {
    padding: 10px 20px;
}

.filtros {
    background-color: white;
    margin-bottom: 8px;
}
.filtros ul {
    list-style: none;
}

article {
    border-bottom: 1px solid gray;
    justify-content: flex-start;
    display: flex;
    height: 100px;
    padding-top: 10px;
}

div.img-container {
    padding: 0 10px;
    width: 145px;
}

div.img-container img{
    max-height: 135px;
}

.resultados {
    margin-bottom: 10px;
}

article img {
    max-width: 80px;
}

div.title_price h6 {
    font-weight: 500;
    font-size: 17px;
}

.no-results {
    text-align: center;
}

@media (min-width: 768px) {
    article {
        height: 150px;
        font-size: 20px;
    }
    article img {
        max-width: 135px;
    }
}

@media (min-width: 1024px) {
    .resultados {
        width: 1000px;
        text-align: right;
        margin: 0 auto 15px auto;

    }
    .listado{
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        width: 1000px;
    }

    .filtros {
        padding: 10px;
        height: 130px;
    }

    section {
        width: 700px;
    }
}

@media (min-width: 1440px) {
    .listado {
        width: 1200px;
    }
    article {
        font-size: 30px
    }
    div.title_price h4 {
        font-weight: 600;
    }
}