@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body {
    font-family: 'Raleway', sans-serif;
    background: #62b6cb;
    /* background-image: linear-gradient(#5fa8d3 ,#62b6cb); */
}

.container {
    width: 100%;
}

.title {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form div {
    border: 1px solid transparent;
    border-bottom: 1px solid #383333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 10px auto;
    box-sizing: content-box;
    width: 80%;
}

input,
label {
    background: none;
    padding: 10px;
    outline: none;
    border: 0;
}
::placeholder {
    color: black;
}

input[type = "submit"] {
    background: white;
    margin: auto;
    width: 80%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #62b6cb inset !important;
}

small{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

small#change {
    margin-top: 50px;
}

small.register {
    margin-top: 30px;
}

form#register {
    display: none;
}

@media (min-width: 768px) {
    form div{
        width: 60%;
    }
    input[type = "submit"] {
        width: 60%;
    }

}