@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(202, 233, 255);
    font-family: 'Raleway', sans-serif;
}

/*=========
HEADER
=========*/

div.caja-madre{
    background-color: rgb(63, 128, 152);
}

header.navbar{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
div.Logo{   
    background-color: rgb(98, 182, 203);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    bottom: -40px;
}

div.parte-superior-navbar{
    
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(63, 128, 152);
    
}
div.search-bar{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -70px;
}

div.login-register ul{
    
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 100px;

}
div.categorias{
    display: none;
    
}

div.login-register a{
    text-decoration: none;
    color: black;
}
div.categorias a{
    text-decoration: none;
    color: black;
}

@media (min-width: 768px) {
    div.categorias{
        display:flex;
        width: 100%px;
        height: 150px;
        align-items: center;
        justify-content: center;
        background-color: rgb(63, 128, 152);;
        margin-bottom: 20px;
    }
    div.categorias ul{
        width: 70%;
        height: 120px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-around;
        display: flex;
        align-items: center;
        font-size: 20px;
        background-color: rgb(98, 182, 203);
        border-radius: 20px;
        
    }

}

/*=======
FOOTER
=======*/

footer {
    width: 100vw;
    margin-top: 50px;
    background: #3F8098;
}

.footer-content {
    padding: 10px;
}

footer div img {}

footer div.mapa {
    display: none;
}

div.atencion-cliente {}

footer div p span {
    font-weight: 700;
}

div.telefonos {
    margin-top: 15px;
}

div.horarios {
    margin-bottom: 15px; 
}

footer div.icons {}

footer div.icons i {}

footer div.letra-chica {
    margin-top: 15px;
    padding-bottom: 15px;
}

footer div.letra-chica small {

}
footer div.letra-chica p{
    border-top: 1px solid black;
    margin-top: 15px;
} 

@media (min-width: 768px) {
    
    div.categorias ul{
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    section.metodos-pago{
        display: flex;
        justify-content: center;
    }
    .footer-content {
        width: 80%;
        margin: auto;
        padding: 0;
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    footer div.mapa {
        display: inline-block;
    }
    footer div.mapa p {
        text-align: center;
    }

    footer div .mapa p {
        padding-bottom: 10px;
    }

    div.telefonos {
        margin: 0;
    }
    div.redes h5 {
        padding-bottom: 10px;
    }
    .footer-content div.redes div.iconos {
        display: flex;
        justify-content: space-evenly;
    }
    div.letra-chica {
        padding-top: 30px;
    }
}
@media (min-width: 992px){
    div.parte-inferior-lista-productos{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    }
    div.categorias ul{
        font-size: 20px;
    }

}