@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

/*====
EL OVERFLOW Y LA POSICION DEL BODY ELIMINAN EL SCROLL LATERAL DEL NAV
====*/

html,
body {
    overflow-x: hidden;
}

body{
    background-color: rgb(202, 233, 255);
    font-family: 'Raleway', sans-serif;
    position: relative;
}

/*=========
HEADER
=========*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #3F8098;
    width: 100%;
}

.box {
    width: 500px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.box input {
    flex: 1;
    height: 35px;
    border: none;
    outline: none;   
}

.box button {
    background-color: white;
    border: none;
    outline: none;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.box i {
    font-size: 20px;
}

nav form input {
    outline: none;
}

.logo h4 a{
    font-family: 'Lobster';
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}



.nav-links li.sesion {

    border-right: 3px solid black;
    padding-right: 15px;
}

.nav-links .user-options {
    display: flex;
}

.nav-links .user-options li:last-child {
    padding-left: 15px;
    padding-right: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.mobile-categories{
    display: none;
}

.categories{
    background-color: #3F8098;
}

.categories ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 20px 8px;
}

.categories ul li a {
    color: rgb(226, 226, 226);
    padding: 20px 8px;
}

@media screen and (max-width: 1150px) {
    .nav-links{
        width: 60%;
        margin-left: 15px;
    }
}

@media screen and (max-width: 990px) {
    .box{
        width: 220px;    
    }
}

@media screen and (max-width: 769px) {
    header {
        overflow-x: hidden;
    }
    .logo h4 a {
        font-size: 10px;
        padding-left: 5px;
    }

    .box {
        width: 300px;
    }

    .nav-links {
        background: #3F8098;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        right: 0px;
        height: 94vh;
        position: absolute;
        top: 8vh;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }
    .nav-links li {
        opacity: 0;
        padding-left: 20px;
    }
    .nav-links li.sesion {
        border: none;
    }
    .nav-links li a{
        font-size: 25px;
    }
    .nav-links .logout i{
        color: rgb(253, 52, 52);
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-links .user-options{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav-links .user-options li {
        padding: 15px 20px;
    }
    .nav-links .user-options li:last-child{
        border-bottom: 2px solid gray;
    }
    .mobile-categories{
        display: inline;
    }
    .categories{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .box {
        width: 180px;
    }
    .box input {
        width: 130px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/*=======
FOOTER
=======*/

footer {
    width: 100%;
    margin-top: 50px;
    background: #3F8098;
}

.footer-content {
    padding: 10px;
}


footer div.mapa {
    display: none;
}

#footer-logo {
    font-family: 'Lobster';
}

footer div p span {
    font-weight: 700;
}

div.telefonos {
    margin-top: 15px;
}

div.horarios {
    margin-bottom: 15px; 
}

footer div.letra-chica {
    margin-top: 15px;
    padding-bottom: 15px;
}

footer div.letra-chica p{
    border-top: 1px solid black;
    margin-top: 15px;
} 

a {
    text-decoration: none;
    color: black;
}

@media (min-width: 768px) {
    
    div.categorias ul{
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    section.metodos-pago{
        display: flex;
        justify-content: center;
    }
    .footer-content {
        width: 80%;
        margin: auto;
        padding: 0;
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    footer div.mapa {
        display: inline-block;
    }
    footer div.mapa p {
        text-align: center;
    }

    footer div .mapa p {
        padding-bottom: 10px;
    }

    div.telefonos {
        margin: 0;
    }
    div.redes h5 {
        padding-bottom: 10px;
    }
    .footer-content div.redes div.iconos {
        display: flex;
        justify-content: space-evenly;
    }
    div.letra-chica {
        padding-top: 30px;
    }
}
@media (min-width: 992px){
    div.parte-inferior-lista-productos{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    }
    div.categorias ul{
        font-size: 20px;
    }

}