<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito De Compras</title>
    <link rel="stylesheet" href="css/carrito.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reglas-generales.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="caja-listado">
        <section class="lista-productos">
            <div class="datos-prod">
                <h1>Home/carrito</h1>
                <h2>Lista de lista de productos</h2>
            </div>
            <section class="productos">
                <div class="product">
                    <div class="info-producto" id="imagenProd">
                        <img src="images/playstation.jpg">
                    </div>
                    <div class="info-producto" id="datos-Prod">
                        <h4>Playstation 5</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Blanditiis doloribus quod quis, ipsa commodi vero amet 
                            ducimus? Quia ullam, aperiam provident iure dicta cum, 
                            odit recusandae fugit sed quas quos?
                        </p>
                    </div>
                    <div class="info-producto" id="info-precio-producto">
                        <p>$99.999</p>
                    </div>
                    <div class="info-producto" id="cantidad">
                        <div class="container">
                            <button class="decrease" type="button"> - </button>
                            <input type="number" class="cantidadProductos1x1" readonly value="1">
                            <button class="increase" type="button"> + </button>                   </button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="info-producto" id="imagenProd">
                        <img src="images/playstation.jpg">
                    </div>
                    <div class="info-producto" id="datos-Prod">
                        <h4>Playstation 5</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Blanditiis doloribus quod quis, ipsa commodi vero amet 
                            ducimus? Quia ullam, aperiam provident iure dicta cum, 
                            odit recusandae fugit sed quas quos?
                        </p>
                    </div>
                    <div class="info-producto" id="info-precio-producto">
                        <p>$99.999</p>
                    </div>
                    <div class="info-producto" id="cantidad">
                        <div class="container">
                            <button class="decrease" type="button"> - </button>
                            <input type="number" class="cantidadProductos1x1" readonly value="1">
                            <button class="increase" type="button"> + </button>                   </button>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="info-producto" id="imagenProd">
                        <img src="images/playstation.jpg">
                    </div>
                    <div class="info-producto" id="datos-Prod">
                        <h4>Playstation 5</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Blanditiis doloribus quod quis, ipsa commodi vero amet 
                            ducimus? Quia ullam, aperiam provident iure dicta cum, 
                            odit recusandae fugit sed quas quos?
                        </p>
                    </div>
                    <div class="info-producto" id="info-precio-producto">
                        <p>$99.999</p>
                    </div>
                    <div class="info-producto" id="cantidad">
                        <div class="container">
                            <button class="decrease" type="button"> - </button>
                            <input type="number" class="cantidadProductos1x1" readonly value="1">
                            <button class="increase" type="button"> + </button>                   </button>
                        </div>
                    </div>
                </div>                
            </section>
            <section class="parte-inferior-lista-productos">
                <div>
                    <button type="reset" >Vaciar</button>
                    <button type="text" >Seguir comprando</button>
                </div>
                <article class="Precio-total">
                    <textarea name="total-pagar" id="total-pagar" cols="5"
                    rows="2" placeholder="Total a pagar"></textarea>
                </article>
            </section>
        </section>
        <section class="metodos-pago">
            <article>
                <p>Metodos de pago</p>
            </article>
            <button type="button">Pagar</button>
        </section>
    </div>


    <%- include('partials/footer.ejs') %>

    <script src="javascripts/header.js"></script>

</body>
</html>