<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito De Compras</title>
    <link rel="stylesheet" href="css/carrito.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reglas-generales.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

     <div class="caja-listado">
        <section class="lista-productos">
            <article>
                <h1>Home/carrito</h1>
                <h2>Lista de lista de productos</h2>
            </article>
            <div class="productos">
                <div class="productos-boton-precio">
                <a href="">
                    <article>
                        <img src="images/playstation.jpg" alt="Producto">
                        <p>Playstation 5</p>
                        <h3>$ 99.999</h3>
                    </article>
                    </a>
                    <button type="button">+         -</button>
                    <p>Precio</p>
                </div>
                <div class="productos-boton-precio">
                    <a href="">
                        <article>
                            <img src="images/playstation.jpg" alt="Producto">
                            <p>Playstation 5</p>
                            <h3>$ 99.999</h3>
                        </article>
                        </a>
                        <button type="button">+         -</button>
                        <p>Precio</p>
                    </div>
                    <div class="productos-boton-precio">
                        <a href="">
                            <article>
                                <img src="images/playstation.jpg" alt="Producto">
                                <p>Playstation 5</p>
                                <h3>$ 99.999</h3>
                            </article>
                            </a>
                            <button type="button">+         -</button>
                            <p>Precio</p>
                        </div>
            </div>
            <div class="parte-inferior-lista-productos">
                <div>
                    <button type="reset">Vaciar</button>
                </div>
                <article class="Precio-total">
                    <textarea name="total-pagar" id="total-pagar" cols="5"
                    rows="2" placeholder="Total a pagar"></textarea>
                </article>
            </div>
        </section>
        <section class="metodos-pago">
            <article>
                <p>Metodos de pago</p>
            </article>
            <button type="button">Pagar</button>
        </section>
     </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="javascripts/header.js"></script>

</body>
</html>