<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Listado</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/reglas-generales.css">
    <link rel="stylesheet" href="css/listado.css">
</head>
<body>
    <%- include('partials/header') %>
        
    </div>

   <div class="container">
       <div class="filtros">
           <div>
            <div>
                <i class="fas fa-filter"></i>
                <p>Filtros</p>
            </div>
           </div>
           <ul id="todos-filtros">
               <li><a href="">Relevancia</a></li>
               <li><a href="">Mayor precio</a></li>
               <li><a href="">Menor precio</a></li>
           </ul>
       </div>
        <section class="productos">
            <% for(let i = 0 ; i<10 ; i++) {  %> 
            <a href="">
                <article>
                    <img src="images/playstation.jpg" alt="Producto">
                    <p>Playstation 5</p>
                    <h3>$ 99.999</h3>
                </article>
            </a>
            <% } %> 
        </section>
    </div>

    <%- include('partials/footer') %> 
    
        <script src="javascripts/header.js"></script>
        <script src="javascripts/listado.js"></script>
</body>
</html>