<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/reglas-generales.css">
    <link rel="stylesheet" href="css/listado.css">
</head>
<body>
    <%- include ('partials/header') %> 
    <div class="container">
        <div class="resultados">
            <small> <%= (typeof search != 'undefined') ? search : '' %>  </small>
            <h3>10 resultados</h3>
        </div>
        <div class="listado">
            <div class="filtros">
                <h2>Filtros</h2>
                <h4>Ordenar por:</h4>
                <ul>
                    <li><a href="">Mayor precio</a></li>
                    <li><a href="">Menor precio</a></li>
                </ul>
            </div>
            <section>
        <% for( let i = 0; i < 10; i++ ) { %>
            <a href="productos/1">
                <article>
                        <div class="img-container">
                            <img src="images/playstation.jpg" alt="imagen playstation">
                        </div>
                        <div class="title_price">
                            <h6>
                                Sony Playstation 5
                            </h6>
                            <h4>
                                $99.999
                            </h4>
                        </div>
                    </article>
                </a>            
            <% } %>
        </section>
    </div>
            
    <%- include('partials/footer') %> 

    <script src="javascripts/header.js"></script>
</body>
</html>