<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMN|Playstation 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/reglas-generales.css">
    <link rel="stylesheet" href="/css/producto.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <section>
        <article>
        <div class="product">
            <div class="image">
                <img src="/images/playstation.jpg" alt="imagen playstation 5">
            </div>
            <div class="buy">
                <h3>Playstation 5</h3>
                <h2>$ 99.999</h2>
                <button>Comprar ahora</button>
            </div>
        </div>
        <div class="product-info">
            <h4>Descripción</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem corporis ad praesentium laboriosam rerum ipsa necessitatibus recusandae eaque, veritatis eos, cumque explicabo ab facilis possimus nesciunt quas cum consectetur voluptates optio sed, eveniet officia omnis fugit! Necessitatibus at, nemo error voluptatum amet possimus tempore quaerat provident quasi expedita asperiores vero iusto non atque enim ipsa nam sunt consequuntur ipsum iure repudiandae harum blanditiis sit illum. Autem laborum reprehenderit voluptatem debitis fugiat provident nulla id. Molestias voluptates cum quo quis velit nemo tempora. Dolores omnis quam eveniet suscipit eius? Veritatis assumenda facere odit quibusdam ad officia! Magni commodi placeat culpa sunt expedita tempore molestiae nulla exercitationem vitae nostrum, alias voluptas distinctio iusto. Eos necessitatibus nobis vitae id consequatur doloribus unde voluptatum officiis illo accusamus minima quos aspernatur quae, voluptatem dicta incidunt. Quod harum debitis fugiat molestiae neque libero nisi pariatur voluptate aliquid sed fugit ex porro sapiente itaque, aperiam magnam tempore at dignissimos voluptas! A, accusantium eaque inventore pariatur non rerum, excepturi esse sint doloribus ipsa blanditiis ipsam, neque ullam enim natus reprehenderit cum? Rem facilis, quibusdam facere voluptatibus hic obcaecati esse laborum fuga culpa vero qui, nisi voluptate sed eaque illo dignissimos quia deserunt eos optio, perspiciatis accusamus magnam corporis?</p>
        </div>
    </article>
</section>


    </div>
    <%- include('partials/footer.ejs') %>


        <script src="/javascripts/header.js"></script>

</body>
</html>