<header>
    <nav>
        <div class="logo">
            <h4>
                <a href="/">FMN electrónica </a> 
            </h4>
        </div>
        <form action="/productos" method="GET"> 
            <input type="text"  name="busqueda">
            <input type="submit" value="Buscar">
        </form>

        <ul class="nav-links">
            <li class="sesion">
                <a href="login">Iniciar sesión</a>
            </li>
            <li>
                <a href="#">Celulares</a>
            </li>
            <li>
                <a href="#">Videojuegos</a>
            </li>
            <li>
                <a href="#">Perifericos</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>