<header>
    <nav>
        <div class="logo">
            <h4>
                FMN electrónica
            </h4>
        </div>
        <form action= ""> 
            <input type="text" placeholder="Buscar">
        </form>

        <ul class="nav-links">
            <li class="sesion">
                <a href="#">Iniciar sesión</a>
            </li>
            <li>
                <a href="#">Celulares</a>
            </li>
            <li>
                <a href="#">Videojuegos</a>
            </li>
            <li>
                <a href="#">Perifericos</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>