*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.caja-madre{
    display: flex;
    flex-direction: column;


}
header{
    background-color: grey;
    border: 2px solid blue;
}
 
}
header h1{
    width: 400px;  
    color: blueviolet;
}